<div class="form-floating mb-2">
  <label *ngIf="!labelPosition" [for]="uniqueId" class="form-label">{{label}}</label>
  <input type="text" *ngIf="!isPassword"
         [class.is-invalid]="isInvalid()"
         class="form-control"
         [id]="uniqueId"
         [disabled]="isDisabled"
         [(ngModel)]="value"
         (blur)="onTouched()"
         (focusin)="switch()"
         (focusout)="switch()">
  <input type="password" *ngIf="isPassword"
         [class.is-invalid]="isInvalid()"
         class="form-control"
         [id]="uniqueId"
         [disabled]="isDisabled"
         [(ngModel)]="value"
         (blur)="onTouched()"
         (focusin)="switch()"
         (focusout)="switch()">
  <label *ngIf="labelPosition" [for]="uniqueId" class="form-label">{{label}}</label>
  <div [class.invalid-feedback]="!hideErrors" *ngIf="!hideErrors">
    {{getError()}}
  </div>
</div>
