<div class="sidebar">
  <div class="d-flex sidebar-header">
    <div class="sidebar-title"><i class="bi bi-currency-bitcoin"></i>Sidebar 2.0</div>
    <!-- <div class="toggle" >
       <i class="bi bi-list"></i>
     </div>-->
  </div>
  <div class="sidebar-content">
    <ng-container *ngFor="let route of this.persistenceService.routes;">
      <ng-container *ngIf="!route.children || route.children.length===0">
        <div (click)="toggleSubMenu(route?.path || '')" class="sidebar-link"
             [routerLink]="route.path"
             [routerLinkActive]="'active'">
          <i class="bi {{route.data?.['icon']}}"></i>{{route.data?.['name']}}</div>
      </ng-container>

      <ng-container *ngIf="!!route.children && route.children.length>0">
        <div (click)="toggleSubMenu(route?.path || '')" class="sidebar-link">
          <i class="bi {{route.data?.['icon']}}"></i>{{route.data?.['name']}}</div>
      </ng-container>

      <div class="sidebar-sub-items"
           [(ngbCollapse)]="this.persistenceService.subMenuStatus[route?.path || '']"
           *ngIf="!!route.children && route.children.length>0">
        <ng-container *ngFor="let child of route.children">
          <div class="sidebar-sub-link"
               [routerLink]="child.path"
               [routerLinkActive]="'active'">
            <i class="bi {{child.data?.['icon']}}"></i>{{child.data?.['name']}}</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

