@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.sidebar {
  background-color: #4723d9;
  color: #f7f6fb;
  height: 100vh;
  padding: 16px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}

.bi {
  margin-right: 0.5rem !important;
}

.sidebar-link, .sidebar-sub-link {
  cursor: pointer;
  margin-bottom: 1.5rem !important;
  padding: 8px 0 8px 24px;
  color: rgb(175, 165, 217);
}

.sidebar-sub-link {
  padding-left: 40px !important;
}

.active {
  border-left: #f7f6fb 2px solid;
  color: #f7f6fb;
}

.sidebar-header {
  margin-bottom: 1.5rem !important;
  font-weight: 600;
  padding: 8px 0 8px 24px;
}

.sidebar-link:last-child, .sidebar-sub-link:last-child {
  margin-bottom: 0 !important;
}

.sidebar-link:hover, .sidebar-sub-link:hover {
  color: #f7f6fb;
}

.sidebar-title {
  align-self: flex-start !important;
  margin-right: auto !important;
}

.sidebar-sub-items {
  background: rgba(64, 33, 189, 0.5);
  border: #4021bd 1px solid;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

/*# sourceMappingURL=sidebar.component.css.map */
